<html>
<head>
  <title>Puppet Validator</title>
  <link rel="stylesheet" href="styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="scripts.js"></script>
</head>
<body>
  <h1>Puppet Code Validator</h1>
  <p>Paste Puppet code into the following textbox and check it for validity.</p>
  <form id="code" action="/validate" method="post">
    <div class="entry">
      <textarea name="code" id="textarea" cols="65" rows="25"></textarea>
      <input type="submit" value="Validate">
      <label><input type="checkbox" name="lint" id="lint" onchange="toggleChecks();">Include <code>puppet-lint</code> style checks.</label>
      <a class="button" href="#" onclick="toggleMenu();">customize &#9662;</a>
      <fieldset id="checks-menu" class="menu">
        <legend>Enabled Lint Checks</legend>
        <ul id="checks">
          <% @checks.each do |check| %>
          <li><label>
            <input type="checkbox" name="checks[]" value="<%= check %>" id="check_<%= check %>" <% unless @disabled.include? check %>checked<% end %> disabled><%= check %></input>
          </label></li>
          <% end %>
        </ul>
      </fieldset>
    </div>
  </form>
  <p class="info">
    Be aware that this <em>only validates syntax</em>. It will not compile a
    catalog or sync any resources. This means that, for example, it cannot
    identify whether you have used the proper resource types, whether package
    names are correct, or file paths exist.  See <a href="/testing.html">more
    information on testing and validating Puppet code.</a>
  </p>
</body>
</html>
