<html>
<head>
    <title>Puppet Code Validator</title>
</head>
<body>
  <form id="code" action="/validate" method="post">
    <textarea name="code" id="textarea" cols="45" rows="5"></textarea>
    <input type="submit" value="Validate">
  </form>
</body>
</html>
