<html>
<head>
    <title>Puppet Code Validator</title>
</head>
<body>
  <h1>Puppet Code Validator</h1>
  <p>Paste in Puppet code and check it for validity.</p>
  <form id="code" action="/validate" method="post">
    <div><textarea name="code" id="textarea" cols="65" rows="25"></textarea></div>
    <input type="submit" value="Validate">
  </form>
</body>
</html>
