body {
  min-width: 690px;
  padding: 0 2em;
}

/* keeps the tooltip from clipping to the pre */
pre[class*="language-"] {
  overflow: visible;
}
div.line-highlight {
  /* Cannot use opacity, because that affects tooltip children as well */
  background-color: rgba(255, 181, 181, 0.25);
  color: black;
  font-weight: bold;
}
div.line-highlight.with-tooltip {
  background-color: rgba(255, 255, 0, 0.25);
  pointer-events: auto;
}
  div.line-highlight.with-tooltip .marker {
    width: 0px;
    height: 0px;
    border-top: 0.5em solid #000;
    border-left: 0.5em solid transparent;
    position: absolute;
    top: 0;
    right: 0;
  }
  div.line-highlight.with-tooltip .line-highlight-tooltip {
    position: absolute;
    top: -1.75em;
    right: 0;
    background-color: #aaccaa;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0 3px;
    display: none;
  }
  div.line-highlight.with-tooltip:hover .line-highlight-tooltip {
    display: block;
  }

.results,
.warning {
  width: 65%;
  border: 1px solid black;
  border-radius: 0.25em;
  padding: 0.5em;
  margin: 0 auto;
}
  .results legend {
    text-align: right;
    padding: 3px;
    background-color: #dedede;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  .results.success {
    background-color: #61ff6e;
  }
  .results.fail {
    background-color: #ffb6b6;
  }

  form.validator {
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  form.validated {
    background-color: #61ff6e;
    border: 1px solid #17a423;
  }
  form.failed {
    background-color: #ffb6b6;
    border: 1px solid #981818;
  }

  .results p {
    margin: 0;
  }
  .results img.share_icon {
    float: right;
    cursor: pointer;
  }
  .results hr {
    clear: both;
  }
  .results div.row:first-of-type {
    margin-top: 0.5em;
  }

  .results span.label {
    width: 7em;
    font-weight: bold;
    display: inline-block;
    text-align: right;
    padding-right: 0.5em;
  }

.relationships {
  text-align: center;
}
.warning {
  background-color: #ffb6b6;
}

div.links {
  margin: 1em auto;
  padding: 0.5em;
  border-top: 1px solid black;
  text-align: center;
}
  div.links a {
    margin: 0.5em;
  }

div.entry {
  width: 80%;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 0.5em;
  border-radius: 0.5em;
  background-color: #f7f7f7;
}
  div.entry textarea {
    width: 100%;
    font-family: monospace;
  }
div.row {
  text-align: center;
}

input#validate,
select#versions,
a#customize {
  margin-right: 2em;
}

a.button {
  font-size: small;
  background-color: #fff;
  padding: 0 2px;
  border: 1px solid #ccc;
  border-radius: 3px;
  text-decoration: none;
}
a.button:hover {
  background-color: #efefef;
  border-color: #bbb;
}
fieldset.menu {
  display: none;
  border-radius: 0.5em;
}
fieldset.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  column-count: 2;
  column-gap: 20px;
}

.info {
    background: #fefefe url('info.png') no-repeat 5px 5px !important;
    border: 1px solid #efefef;
    padding: 0.5em;
    padding-left: 50px;
    width: 65%;
    margin: 0 auto;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -khtml-border-radius: 0.5em;
    border-radius: 0.5em;
}

/* jquery UI overrides */
.ui-widget {
  font-size: 0.85em;
}